@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --main-blue: rgb(124, 93, 250);
  --light-blue: rgb(146, 119, 255);
  --main-dark-blue: rgb(30, 33, 57);
  --light-dark-blue: rgb(37, 41, 69);
  --main-white: rgb(255, 255, 255);
  --main-red: rgb(236, 87, 87);
  --light-red: rgb(255, 151, 151);
  --main-grey: rgb(136, 142, 176);
  --light-grey: rgb(223, 227, 250);
  --main-black: rgb(12, 14, 22);
  --light-black: rgb(20, 22, 37);
  --light-bg: rgb(248, 248, 251);
  --divider-bg: rgba(248, 248, 251, 0.3);
  --light-blue-bg: rgb(126, 136, 195);
  --main-font: "League Spartan", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  letter-spacing: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div,
span,
ul,
li {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}

p {
  line-height: 1.8;
}
